.dashboard-container {
    text-align: center;
    margin-top: 50px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}